@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar::-webkit-scrollbar {
    background-color: unset;
    width: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: rgb(41, 41, 41);
    border-radius: 10px
}